In [1]:
import pandas as pd

In [2]:
supplies_df = pd.read_csv('OfficeSupplies_MAC.csv')
supplies_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 43 entries, 0 to 42
Data columns (total 6 columns):
OrderDate     43 non-null object
Region        43 non-null object
Rep           43 non-null object
Item          43 non-null object
Units         43 non-null int64
Unit Price    43 non-null float64
dtypes: float64(1), int64(1), object(4)
memory usage: 2.1+ KB

In [3]:
supplies_df.head(2)

     OrderDate Region      Rep     Item  Units  Unit Price
0   4-Jul-2014   East  Richard  Pen Set     62        4.99
1  12-Jul-2014   East     Nick   Binder     29        1.99

In [14]:
# Coerce string version of OrderDate into datetime column. Note %b for month abbrev.
supplies_df['new_date'] = pd.to_datetime(supplies_df['OrderDate'], format='%d-%b-%Y', errors='ignore')
supplies_df.head(2)

     OrderDate Region      Rep     Item  Units  Unit Price   new_date
0   4-Jul-2014   East  Richard  Pen Set     62        4.99 2014-07-04
1  12-Jul-2014   East     Nick   Binder     29        1.99 2014-07-12

In [27]:
# And once we have a proper datetime field, we can do more interesting things with it.

supplies_df['new_date'].dt.weekday_name.head(2)

0      Friday
1    Saturday
Name: new_date, dtype: object

In [24]:
dir(supplies_df['new_date'].dt)

['__bytes__',
 '__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '__unicode__',
 '__weakref__',
 '_add_delegate_accessors',
 '_constructor',
 '_delegate_method',
 '_delegate_property_get',
 '_delegate_property_set',
 '_dir_additions',
 '_dir_deletions',
 '_freeze',
 '_reset_cache',
 'ceil',
 'date',
 'day',
 'dayofweek',
 'dayofyear',
 'days_in_month',
 'daysinmonth',
 'floor',
 'freq',
 'hour',
 'is_leap_year',
 'is_month_end',
 'is_month_start',
 'is_quarter_end',
 'is_quarter_start',
 'is_year_end',
 'is_year_start',
 'microsecond',
 'minute',
 'month',
 'nanosecond',
 'normalize',
 'quarter',
 'round',
 'second',
 'strftime',
 'time',
 'to_period',
 'to_pydatetime',
 'tz',
 'tz_convert',
 'tz_localize',
 'week',
 'weekday',
 'weekday_name',
 'weekofyear',
 'year']